<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>


<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Explore all courses</h3>
      </div>

      <div class="">
        <% sessions.forEach( (e) => { %>

          <div>
            <%= e.sname %> <%= e.instructor %> <%= e.sdate %>

          </div>

        <% }); %>


      </div>

      <br />
      <div class="backTo">
        <a href="/">Back to Home Page </a>
      </div>

    </div>
  </div>
</section>









<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
