<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Explore all courses ..</h3>
      </div>
      <div class="gallery" >


        <% sessions.forEach( (e) => { %>


          <div class="grid_4" style="  border: 2px ridge #495464;  margin:5px; text-align: center; padding-bottom:20px;">
            <a href="/enroll?email=<%= current_user   %>&session=<%= e._id   %>" ><img  src="images/enroll_button.png" alt=""></a>
            <div class="text1"><span style="color: #495464;"> <%= e.stitle   %> </span></div>
            <span style="color: #821752; font-size: 20px;">Trainer Name: <span style="color: #615f5f; "><%= e.instructor %></span>  </span><br />
            <span style="color: #821752; font-size: 20px;" >Date: <span style="color: #615f5f; "> <%= e.sdate %></span> </span><br /><br />
            <a href="/enroll?email=<%= current_user   %>&session=<%= e._id   %>"> <span style="color: #821752; font-size: 20px; text-decoration: underline;">Enroll Now !</span> </a>
          </div>




        <% }); %>



        <div class="clear sep__4"></div>


      </div>
    </div>
  </div>

  <div style="margin-top: 30px;
              margin-bottom:3%;
              margin-left: 45%;
              text-decoration: underline;">
    <a  href="/">Back to Home Page </a>
  </div>

</section>


<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
