<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>




<section class="content">
  <div class="container">

    <div class="row" >
      <div class="grid_12">
        <h3 class="ta__center">Invite and Remind Trainees ..</h3>
      </div>

      <div id="invite" style="font-size: 1.2rem;line-height: 1.5;">
        <p style="color: #1f6f8b; font-size: 30px;"> Invite or Remind the Trainees to the following available sessions:</p>

        <% sessions.forEach( (s) => { %>

          <div>
            <span style="color: #821752; ">&#3845;</span>
            <span style="font-weight: bold;"> <%= s.sname   %> </span>
            <span style="color: #821752; ">: </span><%= s.stitle %>
            <a  href="#" onclick="send_to_server('<%= s.sname %>' ,'<%= s.stitle %>')" >invite</a>
            <a  href="#" onclick="send_to_server1('<%= s._id %>' ,'<%= s.stitle %>')" >Remind</a>

            <!-- <a  href="/remind?session=<%= s._id %>" >Remind</a> -->
            <!-- /invite-session?sname= -->
          </div>

        <% }); %>

      </div>
          <div class="backToAdmin">
            <a id="Reg" href="/admin">Back to administration page</a>
          </div>
      </div>
  </div>
</section>

<section class="inviteMargin">

        <div id="Result"> </div>



      <script>

      function send_to_server(e)
      {
        $.ajax({
            type: 'GET',
            url: `/invite-session?sname=${e}` ,
            // data: $('#invite').serialize(),

        }).done( function (res_data) {

              $("#Result").text('Sucssefully invite!!');
        });
      }
      </script>

      <script>

      function send_to_server1(e)
      {
        $.ajax({
            type: 'GET',
            url: `/remind?session=${e}` ,
            // data: $('#invite').serialize(),

        }).done( function (res_data) {

              $("#Result").text('Sucssefully reminde!!');
        });
      }

      </script>

</section>





<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
